<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>
<body>
    <h1>Signup</h1>
    <form action="/signup" method="post">
        <input class="n" type="text" placeholder="Name" name="name">
        <input class="em" type="email" placeholder="Email" name="email">
        <input class="pass" type="password" placeholder="Password" name="password">
        <input class="btn" type="submit" value="Sign Up">
    </form>
    <a href="/login">Already have an account? Login</a>
</body>
</html>
